@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ijheeg');
	src:url('../fonts/icomoon.eot?ijheeg#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?ijheeg') format('truetype'),
		url('../fonts/icomoon.woff?ijheeg') format('woff'),
		url('../fonts/icomoon.svg?ijheeg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-community:before {
	content: "\e900";
}
.icon-company:before {
	content: "\e901";
	color: rgb(0, 0, 0);
}

.icon-contact:before {
	content: "\e903";
}
.icon-coworking:before {
	content: "\e904";
}
.icon-edit:before {
	content: "\e905";
}
.icon-education:before {
	content: "\e906";
}
.icon-export:before {
	content: "\e907";
}
.icon-facebook:before {
	content: "\e908";
}
.icon-faq:before {
	content: "\e909";
}
.icon-google-plus:before {
	content: "\e90a";
}
.icon-heatmap:before {
	content: "\e90b";
}
.icon-incubator:before {
	content: "\e90c";
	color: rgb(0, 0, 0);
}

.icon-info:before {
	content: "\e90f";
}
.icon-investor:before {
	content: "\e910";
	color: rgb(0, 0, 0);
}

.icon-linkedin:before {
	content: "\e914";
}
.icon-list:before {
	content: "\e915";
}
.icon-map:before {
	content: "\e916";
}
.icon-org:before {
	content: "\e917";
}
.icon-search:before {
	content: "\e918";
}
.icon-search-mobile:before {
	content: "\e919";
}
.icon-share:before {
	content: "\e91a";
}
.icon-sync:before {
	content: "\e91b";
}
.icon-twitter:before {
	content: "\e91c";
}
.icon-viadeo:before {
	content: "\e91d";
}
.icon-web:before {
	content: "\e91e";
}
