/*
  Icon Font: tom-icons
*/

@font-face {
  font-family: "tom-icons";
  src: url("./fonts/tom-icons_d727557c85669dd65ceda69fb4dd49e3.eot");
  src: url("./fonts/tom-icons_d727557c85669dd65ceda69fb4dd49e3.eot?#iefix") format("embedded-opentype"),
       url("./fonts/tom-icons_d727557c85669dd65ceda69fb4dd49e3.woff") format("woff"),
       url("./fonts/tom-icons_d727557c85669dd65ceda69fb4dd49e3.ttf") format("truetype"),
       url("./fonts/tom-icons_d727557c85669dd65ceda69fb4dd49e3.svg#tom-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "tom-icons";
    src: url("./fonts/tom-icons_d727557c85669dd65ceda69fb4dd49e3.svg#tom-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-about:before,
.icon-community:before,
.icon-company:before,
.icon-contact:before,
.icon-coworking:before,
.icon-edit:before,
.icon-export:before,
.icon-facebook:before,
.icon-faq:before,
.icon-google-plus:before,
.icon-heatmap:before,
.icon-icon-about:before,
.icon-incubator:before,
.icon-info:before,
.icon-investor:before,
.icon-linkedin:before,
.icon-list:before,
.icon-map:before,
.icon-org:before,
.icon-pin:before,
.icon-school:before,
.icon-search:before,
.icon-search-mobile:before,
.icon-share:before,
.icon-switch-list:before,
.icon-switch-map:before,
.icon-twitter:before,
.icon-viadeo:before,
.icon-web:before {
  display: inline-block;
  font-family: "tom-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-about:before { content: "\f100"; }
.icon-community:before { content: "\f101"; }
.icon-company:before { content: "\f102"; }
.icon-contact:before { content: "\f103"; }
.icon-coworking:before { content: "\f104"; }
.icon-edit:before { content: "\f105"; }
.icon-export:before { content: "\f106"; }
.icon-facebook:before { content: "\f107"; }
.icon-faq:before { content: "\f108"; }
.icon-google-plus:before { content: "\f109"; }
.icon-heatmap:before { content: "\f10a"; }
.icon-icon-about:before { content: "\f10b"; }
.icon-incubator:before { content: "\f10c"; }
.icon-info:before { content: "\f10d"; }
.icon-investor:before { content: "\f10e"; }
.icon-linkedin:before { content: "\f10f"; }
.icon-list:before { content: "\f110"; }
.icon-map:before { content: "\f111"; }
.icon-org:before { content: "\f112"; }
.icon-pin:before { content: "\f113"; }
.icon-school:before { content: "\f114"; }
.icon-search:before { content: "\f115"; }
.icon-search-mobile:before { content: "\f116"; }
.icon-share:before { content: "\f117"; }
.icon-switch-list:before { content: "\f118"; }
.icon-switch-map:before { content: "\f119"; }
.icon-twitter:before { content: "\f11a"; }
.icon-viadeo:before { content: "\f11b"; }
.icon-web:before { content: "\f11c"; }
