@font-face {
    font-family: 'tom-icons';
    src:url('../fonts/icomoon.eot?44800x');
    src:url('../fonts/icomoon.eot?#iefix44800x') format('embedded-opentype'),
        url('../fonts/icomoon.woff?44800x') format('woff'),
        url('../fonts/icomoon.ttf?44800x') format('truetype'),
        url('../fonts/icomoon.svg?44800x#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'tom-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-community:before {
    content: "\e600";
}

.icon-company:before {
    content: "\e601";
}

.icon-contact:before {
    content: "\e602";
}

.icon-coworking:before {
    content: "\e603";
}

.icon-edit:before {
    content: "\e604";
}

.icon-education:before {
    content: "\e605";
}

.icon-export:before {
    content: "\e606";
}

.icon-facebook:before {
    content: "\e607";
}

.icon-faq:before {
    content: "\e608";
}

.icon-google-plus:before {
    content: "\e609";
}

.icon-heatmap:before {
    content: "\e60a";
}

.icon-Icone18:before {
    content: "\e60b";
}

.icon-incubator:before {
    content: "\e60c";
}

.icon-info:before {
    content: "\e60d";
}

.icon-investor:before {
    content: "\e60e";
}

.icon-linkedin:before {
    content: "\e60f";
}

.icon-list:before {
    content: "\e610";
}

.icon-map:before {
    content: "\e611";
}

.icon-org:before {
    content: "\e612";
}

.icon-search:before {
    content: "\e613";
}

.icon-search-mobile:before {
    content: "\e614";
}

.icon-share:before {
    content: "\e615";
}

.icon-sync:before {
    content: "\e616";
}

.icon-twitter:before {
    content: "\e617";
}

.icon-viadeo:before {
    content: "\e618";
}

.icon-web:before {
    content: "\e619";
}
