/*
  Icon Font: tom-icons
*/

@font-face {
  font-family: "tom-icons";
  src: url("./css/fonts/tom-icons_4aff1af0ec00b94e7ad7ea2f32301376.eot");
  src: url("./css/fonts/tom-icons_4aff1af0ec00b94e7ad7ea2f32301376.eot?#iefix") format("embedded-opentype"),
       url("./css/fonts/tom-icons_4aff1af0ec00b94e7ad7ea2f32301376.woff") format("woff"),
       url("./css/fonts/tom-icons_4aff1af0ec00b94e7ad7ea2f32301376.ttf") format("truetype"),
       url("./css/fonts/tom-icons_4aff1af0ec00b94e7ad7ea2f32301376.svg#tom-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "tom-icons";
    src: url("./css/fonts/tom-icons_4aff1af0ec00b94e7ad7ea2f32301376.svg#tom-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-Sans-titre---3-37:before,
.icon-about-mono:before,
.icon-b2b:before,
.icon-community-mono:before,
.icon-company-mono:before,
.icon-contact-mono:before,
.icon-coworking-mono:before,
.icon-edit-mono:before,
.icon-education-mono:before,
.icon-export-mono:before,
.icon-facebook-mono:before,
.icon-faq-mono:before,
.icon-google-plus:before,
.icon-heatmap-mono:before,
.icon-incubator-mono:before,
.icon-info-mono:before,
.icon-investor-mono:before,
.icon-linkedin:before,
.icon-list:before,
.icon-map:before,
.icon-org-mono:before,
.icon-pin-mono:before,
.icon-search-mobile:before,
.icon-search-mono:before,
.icon-share:before,
.icon-switch-list:before,
.icon-switch-map:before,
.icon-twitter-mono:before,
.icon-viadeo:before,
.icon-web-mono:before {
  display: inline-block;
  font-family: "tom-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-Sans-titre---3-37:before { content: "\f100"; }
.icon-about-mono:before { content: "\f101"; }
.icon-b2b:before { content: "\f102"; }
.icon-community-mono:before { content: "\f103"; }
.icon-company-mono:before { content: "\f104"; }
.icon-contact-mono:before { content: "\f105"; }
.icon-coworking-mono:before { content: "\f106"; }
.icon-edit-mono:before { content: "\f107"; }
.icon-education-mono:before { content: "\f108"; }
.icon-export-mono:before { content: "\f109"; }
.icon-facebook-mono:before { content: "\f10a"; }
.icon-faq-mono:before { content: "\f10b"; }
.icon-google-plus:before { content: "\f10c"; }
.icon-heatmap-mono:before { content: "\f10d"; }
.icon-incubator-mono:before { content: "\f10e"; }
.icon-info-mono:before { content: "\f10f"; }
.icon-investor-mono:before { content: "\f110"; }
.icon-linkedin:before { content: "\f111"; }
.icon-list:before { content: "\f112"; }
.icon-map:before { content: "\f113"; }
.icon-org-mono:before { content: "\f114"; }
.icon-pin-mono:before { content: "\f115"; }
.icon-search-mobile:before { content: "\f116"; }
.icon-search-mono:before { content: "\f117"; }
.icon-share:before { content: "\f118"; }
.icon-switch-list:before { content: "\f119"; }
.icon-switch-map:before { content: "\f11a"; }
.icon-twitter-mono:before { content: "\f11b"; }
.icon-viadeo:before { content: "\f11c"; }
.icon-web-mono:before { content: "\f11d"; }
