@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-b6a1c2');
    src:url('../fonts/icomoon.eot?#iefix-b6a1c2') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-b6a1c2') format('woff'),
        url('../fonts/icomoon.ttf?-b6a1c2') format('truetype'),
        url('../fonts/icomoon.svg?-b6a1c2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-community:before {
    content: "\e600";
}

.icon-company:before {
    content: "\e601";
}

.icon-contact:before {
    content: "\e602";
}

.icon-coworking:before {
    content: "\e603";
}

.icon-edit:before {
    content: "\e604";
}

.icon-education:before {
    content: "\e605";
}


.icon-facebook:before {
    content: "\e607";
}


.icon-google-plus:before {
    content: "\e609";
}


.icon-incubator:before {
    content: "\e60b";
}

.icon-investor:before {
    content: "\e60d";
}

.icon-linkedin:before {
    content: "\e60e";
}

.icon-list:before {
    content: "\e60f";
}

.icon-map:before {
    content: "\e610";
}

.icon-org:before {
    content: "\e611";
}

.icon-sync:before {
    content: "\e615";
}

.icon-twitter:before {
    content: "\e616";
}

.icon-viadeo:before {
    content: "\e617";
}

.icon-web:before {
    content: "\e618";
}



@font-face {
	font-family: 'toolbar-icons-font';
	src:url('../fonts/toolbar-icons-font.eot?1q2uaf');
	src:url('../fonts/toolbar-icons-font.eot?1q2uaf#iefix') format('embedded-opentype'),
		url('../fonts/toolbar-icons-font.ttf?1q2uaf') format('truetype'),
		url('../fonts/toolbar-icons-font.woff?1q2uaf') format('woff'),
		url('../fonts/toolbar-icons-font.svg?1q2uaf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-toolbar-"], [class*=" icon-toolbar-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'toolbar-icons-font' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-toolbar-info:before {
	content: "\e900";
}
.icon-toolbar-add:before {
	content: "\e901";
}
.icon-toolbar-export:before {
	content: "\e902";
}
.icon-toolbar-faq:before {
	content: "\e903";
}
.icon-toolbar-heatmap:before {
	content: "\e904";
}
.icon-toolbar-profile:before {
	content: "\e905";
}
.icon-toolbar-search:before {
	content: "\e906";
}
.icon-toolbar-share:before {
	content: "\e907";
}
