@import (css) url('../../node_modules/bootstrap/dist/css/bootstrap.css');

@import (css) url('../../node_modules/font-awesome/css/font-awesome.min.css');

@input-border-focus:red;

.icon(@size:32px) {
    font-size: @size;
    line-height: @size;
    width: @size;
    height: @size;
    display: inline-block;
    background-size: @size @size;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
}
.icon-image(@url){
    background-image: url( @url );
}
.default-fonts(){
    font-family: 'Open Sans', sans-serif;
}

@import url('./icons.less');

@red-main: #eb6565;
@red-dark: #d40308;
@gray: #7d7d7d;
@dark-gray: #666666;
// @blue: #385f98;
@blue: #374F98;
@purple: #a880c2;
@beige: #d1c37e;

.btn {
    border-radius: 0px;
    outline: none;
    &.btn-primary {
        background-color: @blue;
        border-color: @blue;
    }
}

.input-group-addon {
    border-radius: 0px;
}

@import url('./index.macros.less');

.main-zone {
    
    @import (less) url('../../node_modules/leaflet/dist/leaflet.css');
    
    @import (less) url('../../node_modules/leaflet.markercluster/dist/MarkerCluster.css');
    
    @import (less) url('../../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css');

    @import url('./main.less');

    .default-fonts();
}
@import url('./main.modals.less');
@import url('./main.login.less');
