.top-zone {
    .fit(@social-height, 0px, auto, 0px);
    z-index: 1001; // To be just before floating bootstrap elements
    height: @top-height;
    background-color: white;
    border-radius: 0;
    
    ul.nav.navbar-nav.navbar-right {
        z-index: 1002;
        margin-right: 0px;
        > li {
            width: 72px;
            
            > a {
                border: 1px solid transparent;
                padding: 0px;
                padding-bottom: 0.1em;
                text-align: center;
                margin: 0px;
                margin-top: 0.25em;
                > i.icon {
                    .icon(24px);
                }
                > span.label {
                    display: block;
                    font-size: smaller;
                    font-weight: normal;
                    line-height: 1;
                    text-align: center;
                    white-space: nowrap;
                    margin: 0.4em 0.1em;
                    color: gray;
                }
                &:hover {
                    > span.label {
                        color: black;
                    }
                    &.menu-info {
                        color: @blue;
                    }
                    &.menu-faq {
                        color: #a880c2;
                    }
                    &.menu-share {
                        color: #69a387;
                    }
                    
                    &.menu-export {
                        color: #d1c37e;
                    }
                    &.menu-heatmap {
                        color: #b76555;
                    }
                    
                    &.menu-search {
                        color: @red-main;
                    }
                    
                }
            }
            /* Drop-down search panel  */
            &.dropdown {
                // Search panel: default (closed) style
                > .dropdown-menu {
                    display: none;
                    margin-top: -2px;
                    z-index: -1;
                    border: 1px solid #eee;
                    border-bottom: 2px solid @red-main;
                }
                // Open search panel
                &.open {
                    > a {
                        background-color: white;
                        border-color: #eee;
                        border-bottom-color: white;
                            &.menu-search {
                                color: @red-main;
                            }
                            > span.label {
                                color: black;
                            }
                        }
                    > .dropdown-menu {
                        display: block;
                    }
                    
                    // Container for top menu panels
                    .container {
                        max-width: 450px;
                        max-height: 350px;
                        overflow-y: auto;
                        
                        // Individual panels in the dropdown
                        .panel-group {
                           margin: 0px;
                           padding-bottom: 0.5em;
                           > .panel {
                                margin: 0;
                                .box-shadow(none);
                                > .panel-heading {
                                    padding: 0px;
                                    margin: 0;
                                    .panel-title {
                                        paddin: 0px;
                                        padding-top: 1em;
                                        padding-bottom: 0.5em;
                                        color: @red-main;
                                    }
                                }
                                > .panel-body {
                                    padding: 0px;
                                }
                                
                                .zone {
                                    i.icon {
                                        .icon(24px);
                                        margin-right: 0.4em;
                                        vertical-align: middle;
                                        &.icon-dept-75 {
                                            background-image: url(../images/departments/dept-75.png);
                                        }
                                        &.icon-dept-77 {
                                            background-image: url(../images/departments/dept-77.png);
                                        }
                                        &.icon-dept-78 {
                                            background-image: url(../images/departments/dept-78.png);
                                        }
                                        &.icon-dept-91 {
                                            background-image: url(../images/departments/dept-91.png);
                                        }                                    
                                        &.icon-dept-92 {
                                            background-image: url(../images/departments/dept-92.png);
                                        }                                    
                                        &.icon-dept-93 {
                                            background-image: url(../images/departments/dept-93.png);
                                        }                                    
                                        &.icon-dept-94 {
                                            background-image: url(../images/departments/dept-94.png);
                                        }                                    
                                        &.icon-dept-95 {
                                            background-image: url(../images/departments/dept-95.png);
                                        }                                    
                                        
                                    }
                                }
                                
                            }
                            // Individual items in lists
                            .list-group {
                                margin: 0px;
                                .list-group-item {
                                    padding: 0px;
                                    border: none;
                                    > a { 
                                        display: block;
                                        padding: 0.2em;
                                        padding-left: 0px;
                                        color: #767676;
                                        font-size: 1.2em;
                                        &:hover { background-color: #eee; text-decoration: none; }
                                        &.return {
                                            font-size: 1.4em;
                                            line-height: 1.4em;
                                            border-bottom: 1px solid #eee;
                                            margin-bottom: 0.5em;
                                            color: #767676;
                                            .chevron-left {
                                                width: 25px;
                                                height: 25px;
                                                background: url(../images/chevrons/left.png) 50% 50% no-repeat;
                                                display: inline-block;
                                                vertical-align: middle;
                                                margin-right: 0.3em;
                                            }                                            
                                        }
                                        .chevron-right {
                                            width: 20px;
                                            height: 20px;
                                            background: url(../images/chevrons/right.png) 50% 50% no-repeat;
                                            display: inline-block;
                                        }
                                        
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
    .btn-group {
        white-space: nowrap;
        height: 34px;
        
        .btn {
            outline: none;
        }
        
        .btn-add {
            background: url(../images/plus.png) 50% 50% no-repeat @blue;
            display: inline-block;
            width: 45px;
            height: 100%;
        }
        
        &:hover {
            .btn, .btn-add {
                background-color: darken(@blue, 10%);
                border-color: darken(@blue, 10%);
            }
        }
            
    }
}


form[role="search"] {
    > .input-group {
        background-color: white;
        .input-group-addon {
            border-radius: 0;
            color: silver;
            background-color: transparent;
        }
        input {
            .box-shadow(none);
            border-left: none;
            border-right: none;
            &:first-child { border-left: 1px solid #ccc; }
            &:last-child { border-right: 1px solid #ccc; }
            &:focus { border-color: #ccc; }
            padding-left: 0;
            border-radius: 0;
        }
        
    }
}
