.middle-zone {
    .fit(@top-height + @social-height, 0px, 0px, 0px);
    
    .map {
        .fit();
        
        .icon-container {
            .icon {
                color: white;
                background-color: red;
            }
            
            &.community > .icon {
                background-color: #54c692;
            }
            
            &.company  > .icon {
                background-color: #b5d378;
            }
            
            &.coworking > .icon {
                background-color: #efdb8b;
            }
            
            &.incubator > .icon {
                background-color: #396099;
            }
            
            &.investor > .icon {
                background-color: #8f5faf;
            }
            
            &.org > .icon {
                background-color: #ee6565;
            }
            
            
            &.school > .icon {
                background-color: #dbb849;
            }
        }
    }
    .toolbar {
        @button-height: 42px;        
        .map-control {
            z-index: 1;
            .fit(@panel-margin, auto, auto, @panel-margin);
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
            button {
                width: @button-height;
                height: @button-height;
                padding: 0em;
                outline: none;
                
                &.btn {
                    border-radius: 0px;
                }
                
                .icon-zoom-in {
                    background: url(../images/zoom/zoom-in.png) 50% 50% no-repeat;
                    width: 21px;
                    height: 21px;
                    display: inline-block;
                }
                
                .icon-zoom-out {
                    background: url(../images/zoom/zoom-out.png) 50% 50% no-repeat;
                    width: 21px;
                    height: 21px;
                    display: inline-block;
                }
            }
        }

        > .list-group {
            z-index: 1;
            .fit(auto, auto, auto, @panel-margin);
            height: @button-height;
            > li { 
                padding: 6px 0.5em;
                border-radius: 0px;
            }
    
            &.search-tags {
                top: @button-height * 2 + @panel-margin * 2;
                color: @dark-gray;
                font-size: 1.2em;
            }
             
            &.search-categories {
                top: @button-height * 3 + @panel-margin * 2;
                color: @dark-gray;
                font-size: 1.2em;
            }
            
            &.search-zones {
                top: @button-height * 4 + @panel-margin * 2;
                color: @dark-gray;
                font-size: 1.2em;
            }            
        }
    }
    .search-results {
        .fit(@panel-margin, @panel-margin, 1px, 75%);
        display: block;
        background-color: white;
        
        .chevron-down {
            width: 40px;
            height: 40px;
            background: url(../images/chevrons/down.png) 50% 50% no-repeat;
            display: inline-block;
        
        }
        
        .chevron-up {
            width: 40px;
            height: 40px;
            background: url(../images/chevrons/up.png) 50% 50% no-repeat;
            display: inline-block;
        
        }
        
        > .stats {
            .fit(0px, 0px, auto, 0px);
            height: @bar-size;
            border-bottom: 1px solid #eee;
            .label {
                font-size: 1em;
                color: gray;
                line-height: @bar-size;
            }
            .switcher {
                .fit(0px, 0px, auto, auto);
                width: @bar-size;
                height: @bar-size;
                line-height: @bar-size;
                vertical-align: middle;
                text-align: center;
                border-left: 1px solid #eee;
            }
            .count {
                .fit(0px, @bar-size, 0px, auto);
                font-size: 1.2em;
                line-height: @bar-size;
                .current { color: @dark-gray; padding: 0em 0.1em; font-size: 29px; font-weight: 300;}
                .separator { color: @red-main; padding: 0em; font-size: 29px; font-weight: 100;}
                .total { color: @red-main; padding: 0em 0.1em; font-size: 35px; font-weight: 800;}
            }
        }
        > .nav {
            .fit(@bar-size, 0px, auto, 0px);
            > li {
                > * {
                    font-size: smaller;
                    height: @nav-size;
                    line-height: @nav-size;
                    padding: 0 0.5em;
                    border-top: none;
                    border-radius: 0;
                }
                &.active > * {
                    color: @red-main;
                    .glyphicon {
                        padding-left: 0.5em;
                        font-size: 0.6em;
                    }
                }
            }
        }
       > .list-group {
            .fit(@bar-size + @nav-size + 2);
            overflow-x: hidden;
            overflow-y: auto;
            .list-group-item {
                min-height: 100px;
                padding: 10px 8px;
                border: none;
                border-bottom: 1px solid #eee;
                margin-top: 0px;
                margin-bottom: 0px;
                cursor: pointer;
                &.selected, &:hover {
                    background-color: #eee;
                }
                
                
                .picto {
                    float: left;
                    width: 51px;
                    height: 51px;
                    border-radius: 4px;
                    text-align: center;
                    
                    &.community {
                        //background: url(../images/sprite.png) -51px -51px no-repeat;
                        background-color: #53C591;
                    }      
                    &.company {
                        //background: url(../images/sprite.png) -102px -51px no-repeat;
                        background-color: #B4D277;     
                    }
                    &.coworking {
                        //background: url(../images/sprite.png) -102px 0 no-repeat;
                        background-color: #C0AE60;
                    }
                    &.education {
                        //background: url(../images/sprite.png) -153px 0 no-repeat;
                        background-color: #A3CEED;
                    }
                    &.incubator {
                        //background: url(../images/sprite.png) -51px 0 no-repeat;
                        background-color: #385F98;
                    }
                    &.investor {
                        //background: url(../images/sprite.png) 0 0 no-repeat;
                        background-color: #8E5EAE;
                    }
                    &.org {
                        //background: url(../images/sprite.png) 0 -51px no-repeat;
                        background-color: #ED6464;
                    }
                    
                    .icon {
                        color: white;
                        font-size: 2em;
                        padding-top: 10px;
                        display: inline-block;
                    }
                    
                }
                
                .media-body {
                    padding-left: 1em;
                
                    .media-heading {
                        .name {
                            color: @dark-gray;
                        }
                        margin-bottom: 0px;
                    }
                    
                    .short-description {
                        color: @dark-gray;
                    }
                    
                    .tags {
                        .tag {
                            color: @red-main;
                            font-style: italic;
                            font-size: inherit;
                            padding: 0em;
                            margin: 0em;
                            background-color: transparent;
                        }
                    }
                    
                    .address {
                        font-size: small;
                        color: @gray;
                    }
                    
                    .social-networks {
                        font-size: 1.6em;
                        color: #3f3f3f;
                        
                        a {
                            color: #3f3f3f;
                        }
                        
                        .icon-off {
                            color: #ccc;
                        }  
                    }
                }
            }
        }
        &.reduced {
            top: auto;
            height: @bar-size;
             > .nav {
                display: none; 
             }
            .list-group {
                display: none; 
            }
        }
    }
    
    .popover-container {
        .popover {
            .fit(auto, auto, auto, 100%);
            min-width: 300px;
            display: block;
            &.top {
                top: 0px;
                .arrow { top: 6px; }
            }
            &.bottom {
                bottom: 0px;
                .arrow { bottom: 6px; }
            }
        }
    }
}
