.bottom-zone {
    .fit(auto, 0px, 10px, 10px);
    height: 117px;
    width: 370px;
    background-image: url(../images/lafonderie-oif.png);
    background-repeat: no-repeat;
    cursor: pointer;

}
