.fit(@top:0px, @right:0px, @bottom:0px, @left:0px) {
    position: absolute;
    top : @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}
.box-shadow(@arguments) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}


.icon(@size:32px) {
    font-size: @size;
    line-height: @size;
    width: @size;
    height: @size;
    display: inline-block;
    background-size: @size @size;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
}
.icon-image(@url){
    background-image: url( @url );
}

&.container-fluid {
    width: 100%;
    padding: 0;
}

@social-height: 25px;
@top-height: 60px;
@bottom-height: 20px;
@panel-margin: 10px;
@bar-size : 40px;
@nav-size : 30px;
@red-main: #eb6564;
@red-dark: #d40308;
@gray: #7d7d7d;

// Common styles reusable in different contexts
.tags {
    .tag {
        cursor: pointer;
        display: inline-block;
        padding: 0.1em 0.2em;
        margin: 0.2em 0.1em;
        vertical-align: middle;
        white-space: nowrap;
        border: 1px solid transparent;
        font-size: smaller;
        background-color: white;
        &::before {
            content: " #";
        }
        &.selected {
            border: 1px solid #eee;
            &::after {
                content: " × ";
            }
        }
    }
    &.tags-block {
        .tag {
        }
        .label.label-default {
            background-color: #eee;
            color: gray;
        }
    }
}

.category {
    cursor: pointer;
    display: inline-block;
    padding: 0.1em 0.2em;
    margin: 0px;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    &.selected {
        background-color: white;
        border: 1px solid #eee;
        &::after {
            content: " × ";
        }
    }
    > .icon {
        vertical-align: middle;
        font-size: 1.2em;
        color: @gray;
        &.toute { .icon-image('../images/icons/pin.svg'); }
        &.entreprise { .icon-image('../images/icons/company.svg'); }
        &.tiers-lieu { .icon-image('../images/icons/coworking.svg'); }
        &.ecole { .icon-image('../images/icons/pin.svg'); }
        &.communaute { .icon-image('../images/icons/community.svg'); }
        &.incubateur { .icon-image('../images/icons/incubator.svg'); }
        &.investisseur { .icon-image('../images/icons/investor.svg'); }
        &.acteur-public { .icon-image('../images/icons/org.svg'); }
    }
    
    .category-label {
        padding-left: 0.5em;
        color: @gray;
    }
}

@import url('./main.twitter.less');
@import url('./main.top-zone.less');
@import url('./main.bottom-zone.less');
@import url('./main.middle-zone.less');

