.fit(@top:0px, @right:0px, @bottom:0px, @left:0px) {
    position: absolute;
    top : @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}
.box-shadow(@arguments) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}
&.container-fluid {
    width: 100%;
    padding: 0;
}

@top-height: 60px;
@bottom-height: 20px;
@panel-margin: 10px;
@bar-size : 40px;
 
.top-zone {
    .fit(0px, 0px, auto, 0px);
    z-index: 1001; // To be just before floating bootstrap elements
    height: @top-height;
    background-color: white;
    border-radius: 0;
    ul.nav.navbar-nav.navbar-right {
        z-index: 1002;
        > li {
            a.icon {
                text-align: center;
                background-repeat: no-repeat;
                // background-attachment: fixed;
                background-position: 50% 0%;
                margin: 0;
                margin-top: 0.5em;
                padding: 0 0.5em;
                border: 1px solid transparent;

                &.about {
                    background-image: url("../images/icons/icon-about.svg");
                }
                > .label {
                    padding: 0px;
                    display: inline-block;
                    font-size: smaller;
                    font-weight: normal;
                    margin-top: 35px;
                    color: gray;
                }
            }
            &.dropdown.open > a {
                background-color: white;
                border-color: silver;
                border-bottom-color: transparent;
            }
            .dropdown-menu {
                margin-top: -1px;
                border-radius: 0;
                z-index: -1;
            }
        }
    }
    .btn-group {
        white-space: nowrap;
    }
}
.bottom-zone {
    .fit(auto, 0px, 0px, 0px);
    height: @bottom-height;
}
.middle-zone {
    .fit(@top-height, 0px, 0px, 0px);
    
    .map {
        .fit();
    }
    .toolbar {
        .fit(@panel-margin, auto, auto, @panel-margin);
        width: 35px;
        z-index: 1;
        display: block;
        
        .dropdown-menu {
            top: -2px;
            left: 100%;
            margin: 0px;
            margin-left: -2px;
            min-width: inherit;
            &.categories {
                bottom: auto;
                top: -150px;
                min-width: 450px;
                padding: 1em;
            }
        }
        .btn-group-vertical {
            margin-top: @panel-margin;
            &:first-child {
                margin-top: 0px;
            }
            .btn {
                .box-shadow(0 6px 12px rgba(0, 0, 0, .175));
            }
            > form {
                .box-shadow(0 6px 12px rgba(0, 0, 0, .175));
                width: 200px;
            }
        }
    }
    .search-results {
        .fit(@panel-margin, @panel-margin, 1px, 75%);
        display: block;
        background-color: white;
        .stats {
            .fit(0px, 0px, auto, 0px);
            height: @bar-size;
            border-bottom: 1px solid #eee;
            .label {
                font-size: 1em;
                color: gray;
                line-height: @bar-size;
            }
            .switcher {
                .fit(0px, 0px, auto, auto);
                width: @bar-size;
                height: @bar-size;
                border-left: 1px solid #eee;
            }
            .count {
                .fit(0px, @bar-size, 0px, auto);
                font-size: 1.2em;
                line-height: @bar-size;
                .current { color: black; padding: 0em 0.25em; }
                .total { color: red; padding: 0em 0.25em; }
            }
        }
        .list-group {
            .fit(@bar-size + 1);
            overflow-x: hidden;
            overflow-y: auto;
            .list-group-item {
                min-height: 100px;
                border: 1px solid transparent;
                border-bottom: 1px solid #eee;
                margin-top: 0px;
                &.selected {
                    background-color: #eee;
                }
                .media-left img {
                    height: 36px;
                    height: 36px;
                }
            }
        }
        &.reduced {
            top: auto;
            height: @bar-size;
            .list-group {
                display: none; 
            }
        }
    }
    
    .tags {
        .tag {
            display: inline-block;
            padding: 0.1em 0.2em;
            margin-right: 0.1em;
            &.selected {
                background-color: silver;
            }
        }
    }
    
    .popover-container {
        .popover {
            .fit(auto, auto, auto, 100%);
            min-width: 300px;
            display: block;
            &.top {
                top: 0px;
                .arrow { top: 6px; }
            }
            &.bottom {
                bottom: 0px;
                .arrow { bottom: 6px; }
            }
        }
    }
}
