.top-zone {
    .fit(@social-height, 0px, auto, 0px);

    &.navbar {
      z-index: 1001; // To be just before floating bootstrap elements
      height: @top-height;
      min-height : inherit;
      margin-bottom: 0px;
      background-color: white;
      border-radius: 0;
      border-bottom: solid 5px #e0e0e3;
      border-top: 0px;

    }

    .navbar-header {
        min-width: 100px;
        .navbar-brand {
            float: left;
            height: auto;
            font-size: 1em;
            padding: 0px 15px;
            line-height: 1.42857143;
            img { max-width: 100% }
        }

        .baseline {
            font-size: 13px;
            color: #666;
            clear: both;
        }
    }

    .navbar-form {
        padding-left: 0px;
    }

    ul.top-navigation {
        z-index: 1002;
        border-bottom: none;
        background-color: #3ea4c0;
        height: @top-height;
        border-bottom: 5px solid #4697b1;

        &.top-navigation-add {
          border-bottom: 5px solid #8ec317;
        }
        > li {
          height: @top-height - 4;
          padding-top: 5px;
          border-left: #00698c solid 1px;
          cursor: pointer;
          &.menu-btn {
            &:hover {
                > a {
                  i.icon {
                    display: none;
                  }
                  span.label {
                    font-size: 0.8em;
                    padding-top: 0.9em;
                    font-weight: bold;
                    line-height: 1;
                    text-align: center;
                    white-space: nowrap;
                    margin: 0em;
                    display: block;
                  }
                }
            }
            &.menu-add, &.menu-profile {
              background-color: @highlight;
            }
          }
          > a {
              border: 1px solid transparent;
              text-align: center;
              margin: 0px;
              margin-top: 0.3em;
              padding: 0px;
              padding-top: 0.3em;
              > i.icon {
                  .icon(34px);
                  color: white;
              }
              > span.label {
                  display: none;
              }
            }
            /* Drop-down search panel  */
            &.dropdown {
                // Search panel: default (closed) style
                > .dropdown-menu {
                    .box-shadow();
                    display: none;
                    //margin-top: -2px;
                    z-index: -1;
                    border: none;
                    border-radius: 0px;
                    border-bottom: 2px solid @red-main;
                }
                // Open search panel
                &.open {
                    > a {
                        background-color: inherit;
                        &.menu-search {
                            color: @red-main;
                        }
                        > span.label {
                            color: white;
                        }
                    }
                    > .dropdown-menu {
                        display: block;
                    }
                }
            }

        }
    }
}

form[role="search"] {
    > .input-group {
        background-color: white;
        .input-group-addon {
            border-radius: 0;
            color: silver;
            background-color: transparent;
        }
        input {
            .box-shadow(none);
            border-left: none;
            border-right: none;
            &:first-child { border-left: 1px solid #ccc; }
            &:last-child { border-right: 1px solid #ccc; }
            &:focus { border-color: #ccc; }
            padding-left: 0;
            border-radius: 0;
        }

    }
}

@media(max-width: 1064px) {
    ul.top-navigation {
        > li {
            width: 64px;
            height: 43px;
        }
   }
}

@media(min-width: 1064px) {
    ul.top-navigation {
        > li {
            width: 72px;

        }
   }
}

/*
@media(max-width: 768px) {
    .top-zone {
        ul.top-navigation {
            > li {
                width: inherit;
                > a {
                    text-align: left;
                    margin: 0px;
                    padding: 0.3em;
                    > i.icon {
                        .icon(1em);
                    }
                    > span.label {
                        display: inline-block;
                        font-size: 1em;
                        font-weight: normal;
                        line-height: 1;
                        text-align: left;
                    }
                }
            }
        }
    }
}
*/

&.mobile-mode {
  .top-zone {
    top: @social-height-mobile;
    height: @top-height-mobile;
    .navbar-header {
        max-width: 100%;
        min-width: 100px;
        .navbar-brand {
            padding: 0px;
            img {
              max-height: 40px;
            }
        }
    }

    ul.top-navigation {
        padding-top: 0px;
        height: @top-height-mobile;

        > li {
            width: inherit !important;
            height: @top-height-mobile - 1;
            margin: 0;
            padding: 0.2em 1em;
            > a {
                color: gray;
                background-color: inherit;
                > i.icon {
                    .icon(18px);
                    color: white;
                }

                &:hover, &:focus, &:active {
                  background-color: inherit;
                }
            }
        }
    }
  }
  &.no-headers {
     .middle-zone { top : 0px; }
     .top-zone { top: 0px; }
  }
}
